[Unit]
Description=Notifications App
After=network.target

[Service]
WorkingDirectory=/root/cloud
ExecStart=/usr/bin/python3 /root/cloud/run.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

